            </div>
          </div>
          <div class="col-lg d-none d-lg-block">
            <img src="[$root]asset/theme/img/_e205351a-ec4d-4949-bf12-1226fd26eda2.jpeg" style=" border-radius: 60px; height: 430px;"  class="d-block mx-auto" alt="" >
          </div>
        </div>
      </div>
    </div>
    <script src="[$root]asset/theme/js/app.min.js" defer></script>
    <script src="[$root]asset/plugin/plugin.min.js" defer></script>
    <script src="[$root]asset/script/js/general.min.js" defer></script>
    <script src="[$root]asset/script/js/login.min.js" defer></script>
  </body>
</html>